DATABASE_URL="sqlserver://localhost:1433;database=pasajes_db;user=sa;password=Pasajes2026pass;encrypt=true;trustServerCertificate=true"
NEXTAUTH_SECRET="clave-secreta-pasajes-2026"
NEXTAUTH_URL="http://localhost:3000"