DATABASE_URL="sqlserver://localhost:1433;database=pasajes_db;user=sa;password=TU_PASSWORD;encrypt=true;trustServerCertificate=true"
NEXTAUTH_SECRET="clave-secreta-pasajes-2026"
NEXTAUTH_URL="http://localhost:3000"
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="boletos@cooperativa.com"
SMTP_PASSWORD="tu-password-smtp"
